*{
    background-color: black;
}



.para1{
    font-size: 90px;
    font-weight: bold;
    margin-left: 210px ;
color: aliceblue;
}


.para2 {
    font-size: 30px;
    color: aliceblue;
margin-left: 200px; 
}

.img {
    width: 70%;
   
    margin-left: 150px;
    text-align: center;
    margin-top: 20%;
    border: 5px solid white;
    
}

